<div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    <span class='material-icons-outlined'>view_sidebar</span>
</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">
        X
    </div>
    <div class="sidebar-content">
        <h2>Sidebar</h2>
        <div>Home Page</div>
        <div>About Us</div>
        <div>Services</div>
        <div>Prices</div>
        <div>Downloads</div>
        <div>Contact Us</div>
    </div>
</div>